@media (max-width: 768px){
  .main-container{
    max-width: 95%;
  }

  .main-container .nav-wrapper{
    flex-direction: column;
    height: 120px;
    justify-content:space-around ;
  }
  .greeting-wrapper{
    height: 2.5em;
  }
  #navigation li {
    margin-left: 5px;
  }
 
  .list li a{
    font-size: 14px;
    margin: 0 10px;
  }
  .main-container .flex-row{
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  .flex-row .col-1 p{
   font-size: 15px;
   opacity: 0.8;
  }
  .flex-row .col-2 img{
    width: 200px ;
    height: 250px;
    padding: 0;
   
  }
  .flex-row .column {
    padding: 20px;
  }

  .flx-btn{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
  }
  .btn-small{
    margin-right: 0;
    margin-bottom: 10px;
  }

}