@media (max-width: 700px){
  .main-container{
    max-width: 95%;
  }

  .main-container .nav-wrapper{
    flex-direction: column;
    height: 120px;
    padding: 0px;
  }
  #navigation li {
    margin-left: 5px;
  }
  .list li a{
    
    margin: 0 3px;
  }
  .main-container .flex-row{
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    text-align: center;
    padding: 0;
  }
  .flex-row .col-1 p{
   font-size: 15px;
   opacity: 0.8;
  }
  .flex-row .col-2 img{
    width: 200px ;
    height: 200px;
    padding: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .flex-row .column {
    padding: 20px;
  }

  .flx-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 20px;
  }
}