:root {
  --mainColor: #606b56;
  --secondaryColor: #515a48;

  --borderColor: #161914;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(81, 90, 72, 0.8);
  --previewShadow: #2a2f25;

  --buttonColor: #669966;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
}

body * {
  transition: 0.3s;
}

h1,
h2,
h3,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.s1 {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.s2 {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 4.8em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}

#navigation a {
  color: var(--mainText);
  
}



#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 20px;
  
}
#navigation .current{
  color: #2aca3e;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 500px; */
}
.flex-row .col-2 img {
 filter: drop-shadow(0px 10px 3px rgba(21, 21, 21, 0.401));
}

.flex-row .column {
  padding: 50px;
}

.col-1 h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.col-1 p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn-small {
  font-size: 18px;
  padding: 10px 20px;
  margin-right: 30px;
  background: #000;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: var(--secondaryText);
}
.btn-small:hover {
  background-color: var(--buttonColor);
  color: var(--mainText);
}
.btn-big {
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: var(--buttonColor);
  cursor: pointer;
}
.btn-big:hover{
  background-color: #000;
  
}
 a {
  color: var(--mainText);
}

.social{
  margin-top: 20px;
  
}
.social a {
  color: #fff;
  font-size: 25px;
  margin-left: 4px;
  margin-right: 10px;
}


/* About section */

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 60vh; */
  padding: 0px;
  /* border: 0.2px solid #000; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.languages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:#1f3040; */
  opacity: 0.4;
}

.languages * {
  z-index: 10;
}

/* skill */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}
.card {
  background-color: #fff;
  color: var(--mainColor);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.md {
  font-size: 2rem;
  color: var(--mainText);
}
.my-2 {
  margin: 1.5rem 0;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.languages .card:hover {
  transform: translateY(-15px);
}
.text-center {
  text-align: center;
}

/*++++++++++++++++++++++++ PROJECTS+++++++++++++++++++++++++++++++++++ */
.projects {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.projects h3 {
  font-size: 28px;
  padding: 30px;
}
.card-body h6 {
  font-size: 16px;
  color: #000;
}

/* card */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  align-items: flex-start;
}

.project-card {
  --padding: 1rem;
  background: white;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-grid:hover > .card-header.card-image > img {
  transform: scale(1.025);
}

.card-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

.card-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
}

.btn {
  --color: var(--buttonColor);
  background: var(--color);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.btn:hover,
.btn:focus {
  background: #80bb80;
}

.btn.btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background: #80bb80;
  color: var(--mainText);
}

.btn + .btn {
  margin-left: 0.25rem;
}

.github-link {
  font-size: 20px;
  padding: 20px;
}
.github-link span {
  color: #2aca3e;
}

/* contact us */
.contact-us {
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
}
.contact-us h2 {
  padding: 20px;
}
.hidden{
  visibility: hidden;
  height: 0;
}
#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

#submit-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: var(--buttonColor);
  border: none;
}

/* media query */
